@font-face {
    font-family: 'Arial Regular';
    src: url('ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'), url('ArialMT.woff') format('woff'), url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Italic';
    src: url('Arial-ItalicMT.eot');
    src: url('Arial-ItalicMT.eot?#iefix') format('embedded-opentype'), url('Arial-ItalicMT.woff') format('woff'), url('Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    background: #ccc;
    font-family: Arial, sans-serif;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .container {
        padding: 0;
    }
}

header {
    background: #445161;
    padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
    header {
        padding: 15px;
    }
}

header:after {
    content: '';
    clear: both;
    display: block;
}

.product-name {
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-size: 60px;
    color: #ffffff;
    margin-top: 0;
    font-weight: 400;
}

@media (max-width: 479px) {
    .product-name {
        font-size: 46px;
    }
}

.product-photo {
    width: 100%;
}

.product-name-characters {
    list-style-type: none;
}

.characters-li {
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background: url(img/check%20icon.png) no-repeat left 5px;
    padding-left: 30px;
}

.about-product {
    padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .about-product {
        padding: 15px;
    }
}

.about-product:after {
    content: '';
    clear: both;
    display: block;
}

.about-product-h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
    margin: 0 0 30px;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .about-product-h2 {
        margin-bottom: 15px;
    }
}

.about-product-information2 {
    margin-top: 15px;
}

video {
    width: 100%;
}

.about-product-information1,
.about-product-information2 {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.dignity {
    padding: 50px;
    background: #f5f5f5;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .dignity {
        padding: 15px;
    }
}

.dignity:after {
    content: '';
    clear: both;
    display: block;
}

.dignity-h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    text-align: center;
    font-weight: 400;
    margin: 0 0 30px;
}

.pluses {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.pluses:after {
    clear: both;
    display: block;
    content: '';
}

@media (min-width: 992px) {
    .pluses div[class^="col-"]:not(:nth-child(-n+2)) {
        margin-top: 15px;
    }
}

@media all and (min-width: 0) and (max-width: 991px) {
    .pluses div[class^="col-"]:not(:first-child) {
        margin-top: 15px;
    }
}

@media (max-width: 479px) {
    .pluses div[class^="col-"]:last-child .plus {
        background: none;
        padding-bottom: 0;
    }
}

.plus {
    background: url("img/plus.jpg") no-repeat left 5px;
    padding-left: 40px;
    box-sizing: border-box;
    text-align: justify;
}

@media (max-width: 479px) {
    .plus {
        background-position: center bottom;
        padding-bottom: 40px;
        padding-left: 0;
        text-align: left;
    }
}

.screenshots {
    padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .screenshots {
        padding: 15px;
    }
}

.screenshots:after {
    content: '';
    clear: both;
    display: block;
}

.screenshots-h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 30px;
    color: #445161;
    text-align: center;
}

@media all and (min-width: 0) and (max-width: 991px) {
    .screenshots [class^="col"]:not(:first-child) {
        margin-top: 15px;
    }
}

@media (min-width: 992px) {
    .screenshots [class^="col"]:nth-child(n+3) {
        margin-top: 15px;
    }
}

.screenshots-unit {
    color: #445161;
}

.screenshots-unit:after {
    display: block;
    clear: both;
    content: '';
}

.screenshots-photo {
    float: left;
    margin-right: 15px;
}

@media (max-width: 479px) {
    .screenshots-photo {
        float: none;
    }
}

.screenshot-unit-h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    color: #445161;
}

.screenshot-desc {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.reviews {
    padding: 50px;
    background: #f5f5f5;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .reviews {
        padding: 15px;
    }
}

.reviews:after {
    content: '';
    clear: both;
    display: block;
}

.reviews-h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
    text-align: center;
    margin: 0 0 30px;
}

@media all and (min-width: 0) and (max-width: 991px) {
    .review-unit-wrap:not(:first-child) {
        margin-top: 15px;
    }
}

@media (min-width: 992px) {
    .review-unit-wrap:nth-child(n+3) {
        margin-top: 15px;
    }
}

.review-unit:after {
    clear: both;
    display: block;
    content: '';
}

.user-photo {
    border-radius: 50%;
    float: right;
}

@media all and (min-width: 0) and (max-width: 991px) {
    .user-photo {
        display: block;
        float: none;
        margin: 0 auto 15px auto;
    }
}

.review-wrap:after {
    clear: both;
    display: block;
    content: '';
}

@media all and (min-width: 0) and (max-width: 991px) {
    .review-wrap {
        margin-top: 30px;
    }
}

.review-text {
    position: relative;
    color: #445161;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    float: right;
    background: #ebebeb;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
}

.review-text::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 27px;
    background: #ebebeb;
    transform: rotate(45deg);
}

@media all and (min-width: 0) and (max-width: 991px) {
    .review-text::before {
        top: -10px;
        left: calc(50% - 10px);
    }
}

.user-name {
    color: #989898;
    font-size: 14px;
    line-height: 18px;
}

.buy-it-now {
    padding: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .buy-it-now {
        padding: 15px;
    }
}

.buy-it-now:after {
    content: '';
    clear: both;
    display: block;
}

.buy-it-now-h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 30px;
    color: #445161;
    text-align: center;
}

.buy-blocks {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .buy-blocks {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.buy-block {
    background: #445161;
    border-radius: 4px;
    border: 2px solid #445161;
}

@media all and (min-width: 0) and (max-width: 991px) {
    .buy-block:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .buy-block:not(:last-child) {
        margin-right: 15px;
    }
}

.buy-block h4 {
    padding: 17px;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.price {
    text-align: center;
    padding: 18px;
    color: #445161;
    background: #ffffff;
    font-size: 40px;
    line-height: 30px;
}

.buy-block-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    padding: 20px;
}

.buy-button {
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    background: #ffffff;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    display: block;
    margin: 20px;
    text-decoration: none;
}

footer {
    padding: 50px;
    background: #445161;
}

@media all and (min-width: 0) and (max-width: 767px) {
    footer {
        padding: 15px;
    }
}

footer:after {
    content: '';
    clear: both;
    display: block;
}

.contacts-h2 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 30px;
    color: #ffffff;
    text-align: center;
}

.contacts {
    clear: both;
    content: '';
    display: block;
}

form input[type="text"],
form input[type="email"],
form textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 21px;
    padding: 7px 5px;
    box-sizing: border-box;
    color: #445161;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

form textarea {
    font-family: inherit;
    min-height: 170px;
}

form input[type="time"] {
    border-radius: 5px;
    border: none;
    padding: 7px 5px;
}

label {
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 10px;
}

form input[type="submit"] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    text-align: center;
    color: #445161;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

@media all and (min-width: 0) and (max-width: 767px) {
    .contacts-list {
        margin-top: 15px;
    }
}

.contacts-list > div:not(.social) {
    margin-bottom: 15px;
}

.skype,
.icq,
.email,
.phone {
    padding-left: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.skype {
    background: url(img/skype%20icon.png) no-repeat left center;
}

.icq {
    background: url(img/icq%20icon.png) no-repeat left center;
}

.email {
    background: url(img/email%20icon.png) no-repeat left center;
}

.phone {
    background: url(img/phone%20icon.png) no-repeat left center;
}

.social a {
    font-family: SocialIco;
    color: #ffffff;
    font-size: 60px;
    line-height: 44px;
    text-decoration: none;
}

.copy {
    height: 26px;
    text-align: center;
    color: #445161;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 26px;
    background: #f5f5f5;
}